$accent: #FED136;
$basic: #000;
$bg: #fff;
$bg_accent: #f7f7f7;

@keyframes moveRandom {
	
}

@mixin head_prop {
	text-align: center;
	color: $basic;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 60px;
 }

 @mixin p_prop {
 	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: $basic;
	padding: 20px;
	margin-bottom: 40px;
 }

@mixin clearfix {
	&::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }	
}

body {
	position: relative;
	background-color: $bg;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.jumbotron {
	width: 100%;
	height: 100vh;
	background-color: #000;
	padding: 0;

	.blob {
		background: red;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		
		&.one {
			top: 50px;
			left: 50px;
		}
		&.two {
			top: 100px;
			left: 100px;
		}
		&.three {
			top: 150px;
			left: 150px;
		}
	}

	nav {
		height: auto;
		display: flex;
		align-self: flex-start;
		z-index: 1;

		h3 {
			color: $accent;
			font-family: 'Parisienne', cursive;
			font-size: 35px;
			padding-left: 30px;
			display: inline;
		}

		ul {
			display: inline;
			padding: 8px;
			width: 100%;
			line-height: 40px;

			li {
				display: inline;
				float: right;
			}

			a {
				color: $bg;
				font-size: 12px;
				text-decoration: none;
				padding: 0 30px;
				&:hover {
					color: $accent;
				}
			}
		}
	}

	.title {
		color: $bg;
		width: 100%;
		height: 100%;
		z-index: 1;
			p {
				text-align: center;
				padding: 200px 0 5px 0;
				font-size: 40px;

			}

			h1 {
				padding: 10px 0 40px 0; 
				text-transform: uppercase;
				font-weight: 900;
				font-size: 45px;
			}
			button {
				padding: 15px;
				background-color: $accent;
				font-size: 20px;
				border-radius: 0;
				font-weight: bold;
				text-transform: uppercase;
				&:hover {
					color: $bg;
				}
			} 
	}

}

.services {
	padding: 20px;

	h2 {
		@include head_prop;
	}

	p {
		@include p_prop;
	}
}

.icons {
	text-align: center;
	padding: 20px;

	.icon-btn {
		border-radius: 50%;
		font-size: 35px;
		border: 4px solid $accent;
		padding: 10px 20px;
		background: none;
		color: $accent;
	} 

	h4 {
		color: $basic;
		font-size: 25px;
		font-weight: 900;
	}

	p {
		@extend h4;
		font-size: 15px;
		font-weight: 400;
	}
}

.portfolio {
	margin: 40px 0;
	padding: 20px;
	background-color: $bg_accent;

	h2 {
		@include head_prop;	
	}

	P {
		@include p_prop;

	}

	.gallery {
		width: 100%;
		.photo {
			margin-left: 5%;
			background-color: $bg;

			img {
				width: 100%;
				height: 290px;
				object-fit: cover;
			}

			h4 {
				font-weight: 900;
				text-align: center;
				font-size: 22px;
				color: $basic;
				padding: 10px;
			}

			p {
				font-size: 15px;
			}
		}
	}
}


.aboutus {
	position: relative;

	h2 {
		@include head_prop;
	}

	p {
		@include p_prop;
	}

	.line {
		border-left: 5px solid #f0efef;
		height: 972px;
		position: absolute;
		left: 50%;
		bottom: 0px;
		z-index: -1;
	}

	.row {

		@include clearfix;

		h5 {
				font-size: 18px;
				font-weight: 900;
				color: $basic;
		}
		
		.right {
			text-align: right;

			h5, p {
				text-align: right;
			}
		}

		.left {
			text-align: left;

			h5, p {
				text-align: left;
			}
		}

		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 5px solid #f0efef;
			margin: 50px 0;
		}


	}

	.box {
		@extend img;
		background-color: $accent;
		p {
			text-align: center;
			font-size: 25px;
			font-weight: 900;
			text-transform: uppercase;
			padding-top: 25px;
		}
	}
}

.practice {
	width: 100%;
	height: 100vh;
	border: 1px solid black;

	ul {
		display: block;
		width: 100%;
		text-align: center;
		border: 1px solid black;

		li {
			display: inline-block;
			padding: 25px;
			cursor: pointer;
		}
	}

		p {
			position: absolute;	
			font-size: 40px;
			font-weight: 700;
			z-index: 1;
			cursor: pointer;
			&#right {
				right: 150px;
			}

			&#left {
				left: 150px;
			}

		}
	

		.offers {
			width: 100px;
			height: 100px;
			position: relative;
			overflow: hidden;
			margin: 0 auto;
			z-index: -1;

			.link-content {
				text-align: left;
				display: none;
				width: 300px;
				height: 100px;
				padding: 0;
				margin: 0;

				.off {
					padding: 0;
					margin: 0;
					display: inline-block;
					width: 100px;
					height: 100px;
					background: red;
					
				}

			}
		}
	
}

.team {
	padding: 20px;

	h2 {
		@include head_prop;
	}

	p {
		@include p_prop;
	}
	
}
.team-photo {
	.foto {

		width: 200px;
		height: 200px;

		img {
			width: 200px;
			height: 100%;
			border-radius: 50%;
		    object-fit: cover;
		    margin-left: 50px; 

	}

	}

	h4 {
		text-align: center;
	}
	p {
		text-align: center;
	}

	.icon-team {
		text-align: center;
		font-size: 25px;
		color: $basic;

	}

}

.contact {
	width: 100%;
	height: 600px;
	background-image: url("https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

	h2 {
		@include head_prop;
		padding-top: 60px;
		color: $bg;
	}

	p {
		@include p_prop;
		color: $bg;
	}

	input {
		height: 50px;
		width: 300px;
	}

	textarea {
		width: 300px;
		border-radius: 3px;
	}

	button {
		margin-left: 45%;
		background-color: $accent;
		border: none;
	}


}